@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

.flexbox {
    display: flex;
    flex-direction: column;
    text-align: center;
}


div#clear {
    background-color: #ccd8ff;
    padding: 50px 0;
}



/* アコーディオンメニュー */
.menu-btn {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 1px;
    right: 1px;
    background-color: #fff;
    outline: initial;

    &:focus-visible {
        box-shadow: 0 0 0 2px blue;
    }

    .inn {
        position: relative;
        width: 100%;
        height: 100%;
        display: block;

        &:before {
            position: absolute;
            content: "";
            top: 40%;
            left: 50%;
            width: 15px;
            height: 15px;
            transform: translate(-50%, -40%) rotate(135deg);
            border-top: 1px solid #000;
            border-right: 1px solid #000;
            transition: 0.3s ease;
        }
    }
}

.menu-btn.is-open {
    .inn {
        &:before {
            top: 60%;
            transform: translate(-50%, -60%) rotate(-45deg);
        }
    }
}

.menu {
    position: absolute;
    top: 60px;
    width: 100%;
    background-color: #fff;
    opacity: 0;
    transition: .3s ease-in-out;
    pointer-events: none;
    transform: translateY(-30px);

    ul {
        border-bottom: 1px solid #000;

        li {
            height: 60px;
            border-top: 1px solid #000;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.menu.is-open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.nav-btn.open::after {
    top: 45%;
    transform: rotate(-45deg);
}

/* ロゴのサイズ変更 */
.logo-image {
    width: 130px;
    height: 50px;
}

/* アイコンサイズ */
.login-image {
    width: 40px;
    height: 40px;
}

.icon {
    text-align: right;
}

/* ボタンサイズ */
.button-image {
    width: 30px;
    height: 30px;
}

/* 削除ボタンのホバー */
.delete-image {
    background-size: contain;
    width: 30px;
    height: 30px;
}

.delete-image:hover {
    background: url("/images/trash-h.png");
    background-size: contain;
    transition: 0s
}


/*モーダル本体の指定 + モーダル外側の背景の指定*/
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 50%);
    padding: 40px 20px;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    box-sizing: border-box;
}

/*モーダル本体の擬似要素の指定*/
.modal-container:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.modal-open {
    width: 50px;
    height: 50px;
}

/*モーダル本体に「active」クラス付与した時のスタイル*/
.modal-container.active {
    opacity: 1;
    visibility: visible;
}

/*モーダル枠の指定*/
.modal-body {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 500px;
    width: 90%;
}

/*モーダルを閉じるボタンの指定*/
.modal-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -40px;
    right: -40px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}

モーダル内のコンテンツの指定 .modal-content {
    background: #fff;
    text-align: left;
    padding: 30px;
}
